---
---

<section class="row">
<h2 class="section-title">About Me</h2>
<p>Hi! I'm André, a Ph.D. candidate at the University of California, Irvine advised by <a href="https://www.michaelfranz.com/">Prof. Dr. Michael Franz</a>. I am anticipating to graduate by the end of March 2025. My research interests broadly span operating systems, systems security, and compilers.</p>
<ul class="horizontal-nav">
<li><span class="email">{% include icon.html icon='email.svg' %} <span>an {dot} roesti {at} gmail {dot} com</span></span></li>
</ul>
</section>

<div class="row two-columns">

<div class="column">
<section>
<h2 class="section-title">Research</h2>
{%- assign research = site.projects | where: "category", "research" -%}
{% include articles.html collection=research link_all=false filt="false" %}
</section>
</div>

<div class="column">
<section>
<h2 class="section-title">Projects</h2>
{%- assign projects = site.projects | where: "category", "project" -%}
{% include articles.html collection=projects link_all=false filt="item.category='project'" %}
</section>
<section>
<h2 class="section-title">Notes &amp; Personal</h2>
{% include articles.html collection=site.notes link_all=true %}
</section>
</div>

</div>
