	<meta charset="utf-8" />
{%- if page.url == "/" || page.url == "/index.html" %}
	<title>{{ site.title }}</title>
{%- else %}
	<title>{{ page.title }} - {{ site.title }}</title>
{%- endif %}
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}" />
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/highlight.css' | relative_url }}" />
	<script src="{{ '/assets/js/email.js' | relative_url }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />